body {
  background-image: url(img/halo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-family: "Kanit", sans-serif;
}

.title {
  background-color: rgba(75, 122, 28, 0.938);
  text-align: center;
  width: 55vw;
  height: 8vh;
  margin: 3vh;
  margin-left: 23vw;
  margin-right: 23vw;
  border-radius: 15px;
  font-size: 2.5rem;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgba(45, 73, 164, 0.76);
  width: 20vw;
  font-size: 1rem;
  border-radius: 20px;
  padding-bottom: 3vh;
  padding-right: 0.3vw;
  padding-left: 0.3vw;
  margin: 5vh;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  box-shadow: 10px 10px;
}

.game-img {
  text-transform: uppercase;
  width: 17vw;
  height: 45vh;
/*   width: 270px;
  height: 370px; */
}
